# The group task

- Loading packages

In [20]:
import numpy as np
from scipy.stats import norm
import pandas as pd
import matplotlib.pyplot as plt
import pyreadstat
# To display the graphs here
%matplotlib inline

- Importing the data

In [24]:
health = pd.read_sas("/Users/nathankhadaroo/Desktop/task/london ward data health.sas7bdat", format='sas7bdat', encoding='latin1')
environment = pd.read_csv("/Users/nathankhadaroo/Desktop/task/London ward data environment.csv")
district_codes = pd.read_csv("/Users/nathankhadaroo/Desktop/task/LondonDistrictcodes.csv")
demo = pd.read_table("/Users/nathankhadaroo/Desktop/task/London ward data demographics.dat")
socio  = pyreadstat.read_sav("/Users/nathankhadaroo/Desktop/task/London ward data demographics/London ward data socioeconomic.sav")

ReadstatError: Unable to open file

In [29]:
health.head()

,Wardname,Population2011Census,GeneralFertilityRate,Malelifeexpectancy,Femalelifeexpectancy
0,Bromley - Darwin,5110.0,63.8,81.2,82.4
1,Kensington and Chelsea - Royal Hospital,7252.0,52.3,80.5,89.6
2,Hillingdon - Harefield,7399.0,55.8,78.3,82.3
3,Hammersmith and Fulham - Palace Riverside,7483.0,40.0,80.9,89.0
4,Kensington and Chelsea - Pembridge,7659.0,40.4,82.1,85.7

In [30]:
environment.head()

  Wardcode  Population2011Census  Crimerate  Openspace
0   00ANGQ                 11201      117.7        0.0
1   00ANGA                 11518      114.0        0.3
2   00ADGN                 10800       44.2        0.7
3   00BEGH                 12321       65.3        0.7
4   00BCFZ                 12609       64.3        1.3

In [31]:
district_codes.head()

               District Districtcode
0  Barking and Dagenham         00AB
1                Barnet         00AC
2                Bexley         00AD
3                 Brent         00AE
4               Bromley         00AF

In [32]:
demo.head()

,Wardname,Children,Greaterthan65,nonwhite,NotBorninUK,NotEnglishspeaking
0,Hackney - Queensbridge,17.542063,8.2,44.7,38.3,11.8
1,Hammersmith & Fulham - S&s End,17.915361,8.4,30.6,39.0,11.8
2,Barking & Dagenham - River,26.851598,10.1,38.4,30.9,9.6
3,Tower Hamlets - Bethnal Green North,18.555872,7.0,49.4,38.7,15.0
4,Merton - Abbey,15.731861,8.5,26.6,38.3,12.5